// Place all the styles related to the LotteryTickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selected { background-color: lightsalmon; }
.lottery-number {
  cursor: pointer;
  text-align: center;
  font-size: xx-large;
}